@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --blue: #0e79b2;
  --dark: #191923;
  --light: #fbfef9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.dark-bg {
  background-color: var(--dark);
}

.light-bg {
  background-color: var(--light);
}